# CDC Data

## Obtain health outcomes data through the CDC API.

#### Load packages

In [1]:
# Import packages
import pandas as pd
from sodapy import Socrata

Obtain client access through Socrata

In [2]:
# Client access
client = Socrata("chronicdata.cdc.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
# Get results in JSON
results = client.get("i46a-9kgh", limit = 4000)

In [4]:
# Convert to pandas DataFrame
CDC = pd.DataFrame.from_records(results)

In [5]:
# Shape
CDC.shape

(3142, 128)

In [6]:
# View Data
CDC.head()

,stateabbr,statedesc,countyname,countyfips,totalpopulation,access2_crudeprev,access2_crude95ci,access2_adjprev,access2_adj95ci,arthritis_crudeprev,...,stroke_crude95ci,stroke_adjprev,stroke_adj95ci,teethlost_crudeprev,teethlost_crude95ci,teethlost_adjprev,teethlost_adj95ci,geolocation,:@computed_region_bxsw_vy29,:@computed_region_he4y_prf8
0,NC,North Carolina,Warren,37185,19731,21.8,"(19.2, 24.6)",23.3,"(20.4, 26.2)",35.6,...,"( 6.1, 7.2)",4.8,"( 4.5, 5.2)",23.5,"(18.3, 29.1)",23.9,"(18.6, 29.6)","{'type': 'Point', 'coordinates': [-78.10670979...",37,2328
1,SC,South Carolina,Aiken,45003,170872,18.9,"(16.4, 21.6)",19.7,"(17.0, 22.4)",30.8,...,"( 3.8, 4.7)",3.5,"( 3.2, 3.8)",15.8,"(10.6, 21.5)",16.2,"(10.9, 21.9)","{'type': 'Point', 'coordinates': [-81.63469146...",33,2704
2,SC,South Carolina,Calhoun,45017,14553,18.7,"(16.4, 21.0)",20.0,"(17.6, 22.6)",33.3,...,"( 4.8, 5.8)",3.9,"( 3.6, 4.3)",17.4,"(12.8, 22.7)",17.9,"(13.3, 23.3)","{'type': 'Point', 'coordinates': [-80.78010777...",33,2710
3,SC,South Carolina,Darlington,45031,66618,20.1,"(17.4, 22.8)",21.0,"(18.1, 23.9)",32.2,...,"( 4.8, 5.7)",4.3,"( 3.9, 4.6)",20.1,"(14.8, 25.8)",20.5,"(15.3, 26.6)","{'type': 'Point', 'coordinates': [-79.95862066...",33,745
4,SC,South Carolina,Florence,45041,138293,19.2,"(16.7, 21.8)",19.8,"(17.1, 22.6)",29.6,...,"( 4.2, 5.1)",4.0,"( 3.7, 4.4)",17.2,"(12.5, 22.6)",17.7,"(12.8, 23.5)","{'type': 'Point', 'coordinates': [-79.70209086...",33,1976

In [8]:
# Export
CDC.to_csv("Data/CDC.csv", index = False)